<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>McDonald's</title>
</head>
<body>
    <header class="header">
        <div class="conteudo">
            <img src="logo.png" alt="Logo McDonald's" class="logo">

            <h1>McDonald's</h1>
            <h2>Bem-vindo ao <span>McDonald's!</span> Sinta-se em casa.</h2>
            <h3>Aproveite nossas ofertas exclusivas e <br>descubra o sabor inconfundível do McDonald's.<br> Faça seu pedido online e <br>receba no conforto da sua casa!
            </h3>

                <a href="login.html" class="btn">Entrar</a>
                <a href="cadastro.html" class="btn destaque">Cadastrar</a>
            </div>
        </div>
    </header>
</body>
</html>
