<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <form action="/auth/login"  method="POST" class="form">
        <h1>Login</h1>
        <div class="input-group">
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            <i class="fa-solid fa-lock"></i>
        </div>
        <div class="options">
            <label for="remember">
            <input type="checkbox" id="remember">Lembrar senha
        </label>
        <a href="#">Esqueci minha senha</a>
        </div>
        <button type="submit" class="btn">Entrar</button>
        <div class="register">
        <p>Não tem uma conta? <a href="cadastro.html">Cadastre-se</a></p>
        </div>
        </form>     
    </main>
</body>
</html>